@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");
/*Inter */
@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* root */
:root {
  --primary-color: #1a1d23;
  --secondary-color: #f7f7f7;

  /* font */
  --font-heading: "Gloock";
}

.big-heading {
  @apply 2xl:text-[143px] xl:text-9xl lg:text-8xl md:text-7xl sm:text-6xl text-5xl font-Gloock font-normal;
}

.small-heading {
  @apply 2xl:text-[100px] 2xl:leading-[100px] md:text-5xl sm:text-4xl text-3xl xl:text-7xl lg:text-6xl font-Gloock font-normal
}

.para-medium {
  @apply sm:text-sm sm:leading-[26px] text-xs leading-[20px] md:text-base md:leading-[28px] xl:text-lg xl:leading-[30px] 2xl:text-xl 2xl:leading-[32px] font-Inter;
}

.link-el {
  @apply 2xl:text-base xl:text-sm text-xs flex gap-1 items-center 2xl:h-14 h-8 xl:h-11 lg:h-9 font-Inter leading-[35.4px];
}

.para-big {
  @apply xl:text-2xl md:text-xl md:leading-[36px] text-base leading-[26px] xl:leading-[38px] font-medium 2xl:text-3xl 2xl:leading-[42px] font-Inter;
}

.title-el {
  @apply xl:text-base md:text-sm text-xs font-medium font-Inter;
}

.side-padding {
  padding-right: 100px;
  padding-left: 100px;
}

.effect {
  transition: 0.3s ease-out;
}

.scroll {
  scrollbar-width: none;
}

.zoom-img {
  width: 200%;
  transition: 0.5s ease-out;
}

@media (max-width: 1024px) {
  .side-padding {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.normal-text {
  font-family: "Inter";
}

.heading-text {
  font-family: Gloock;
  line-height: 88.38%;
  /* 77.691px */
  letter-spacing: -0.879px;
}

.heading-gloock {
  font-family: Gloock;
}

.header-about-links {
  margin-bottom: -80px;
  height: 25px;
}

.header-about-links:nth-child(1) {
  /* margin-top: 0px; */
  /* background-color: aqua; */
}

#vd-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.vertical-text {
  writing-mode: vertical-lr;
}

.link:hover {
  .arrow {
    margin-left: 15px;
    transition: 0.5s ease-in;
  }
}

.manufractureImg {
  background: linear-gradient(221deg,
      rgba(0, 0, 0, 0) 54.03%,
      rgba(0, 0, 0, 0.6) 94.39%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    url("/images/home/manufracture.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-container {
  animation: scrollText 6s linear infinite;
  /* Adjust duration based on total words */
}

@keyframes scrollText {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-150%);
  }
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
  /* For Chrome, Safari, and Opera */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #1d4ed8;
  /* Blue color */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #e5e7eb;
  /* Light gray track */
}
