@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");
/*Inter */
@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.header-about-links {
  margin-bottom: -80px;
  height: 25px;
}

.header-about-links:nth-child(1) {
  /* margin-top: 0px; */
  /* background-color: aqua; */
}

#vd-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.big-heading {
  @apply 2xl:text-[143px] xl:text-9xl lg:text-8xl md:text-7xl text-6xl font-Gloock font-normal my-10 md:my-14 xl:my-20 2xl:my-24
}

/* .medium-heading {
  @apply 2xl:text-[100px] 2xl:leading-[100px] md:text-5xl text-4xl xl:text-7xl lg:text-6xl font-Gloock font-normal
} */

.para-medium {
  @apply sm:text-sm sm:leading-[26px] text-xs leading-[20px] md:text-base md:leading-[28px] xl:text-lg xl:leading-[30px] 2xl:text-xl 2xl:leading-[32px] font-Inter
}

.link-el {
  @apply 2xl:text-base xl:text-sm text-xs flex gap-1 items-center 2xl:h-14 h-8 xl:h-11 lg:h-9 font-Inter
}

.para-big {
  @apply xl:text-2xl md:text-xl md:leading-[36px] text-base leading-[34px] xl:leading-[38px] font-medium 2xl:text-3xl 2xl:leading-[42px] font-Inter
}

.title-el {
  @apply xl:text-base md:text-sm text-xs font-medium font-Inter
}

.vertical-text {
  writing-mode: vertical-lr;
}

.link:hover {
  .arrow {
    margin-left: 15px;
    transition: .5s ease-in;
  }

  .arrow-left {
    margin-right: 15px;
    transition: 0.5s ease-in;
  }
}

.zoom-img {
  width: 200%;
  transition: .5s ease-out;
}

.effect {
  transition: .5s ease-out;
}

.scroll {
  scrollbar-width: none;
}